<form [formGroup]="loginForm" (ngSubmit)="signIn()">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin">Sign In</ion-button>
    <ion-button expand="block" type="button" fill="clear" class="ion-no-margin">Forgot password?</ion-button>
    <ion-button expand="block" type="button" fill="clear" class="ion-no-margin" (click)="register()">Register
    </ion-button>
  </div>
</form>