<ion-list lines="full" class="ion-no-margin ion-no-padding">
  <ion-item>
    <ion-label position="floating">Nick</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
</ion-list>


<div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin">Sign In</ion-button>
  <ion-button expand="block" fill="clear" class="ion-no-margin">Forgot password?</ion-button>
  <ion-button expand="block" fill="clear" class="ion-no-margin" (click)="register()">Register</ion-button>
</div>