<form [formGroup]="createMatchForm" (ngSubmit)="createMatch()">
  <ion-item>
    <ion-label position="floating">Date and time (UTC)</ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY HH:mm:ss" formControlName="dateTime"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Type</ion-label>
    <ion-input type="text" formControlName="region" formControlName="type"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        {{ playersInMatch.length }} / 10
        <ion-button (click)="shuffle()" fill="clear">
          <ion-icon name="shuffle-outline"></ion-icon>
        </ion-button>
        <ion-chip *ngFor="let player of unselectedPlayers">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>{{ player.nick }}</ion-label>
          <ion-icon name="close" (click)="deletePlayerFromMatch(player)"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col size="2">
        Team 1
        <ion-chip *ngFor="let player of this.teams[0].players">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>{{ player.nick }}</ion-label>
          <ion-icon name="close" (click)="deletePlayerFromMatch(player)"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col size="2">
        Team 2
        <ion-chip *ngFor="let player of this.teams[1].players">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>{{ player.nick }}</ion-label>
          <ion-icon name="close" (click)="deletePlayerFromMatch(player)"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col size="6">
        <ion-searchbar animated placeholder="Players" formControlName="playerSearch"></ion-searchbar>
        <ng-container *ngIf="!!players">
          <ng-container *ngFor="let player of players">
            <ion-chip *ngIf="shouldShowItem(player.nick) && !playerAlreadyInMatch(player)" (click)="addPlayer(player)">
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>{{ player.nick }}</ion-label>
            </ion-chip>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin">Create match</ion-button>
  </div>
</form>